.splash {
    height: 100vh;
    position: relative;
    background: url('../../images/splash.jpg') center/cover no-repeat;
    background-attachment: fixed;
}

.splashInner {
    position: absolute;
    width: 100%;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%)
}



svg {
    font-size: 30px;
    background-color: orangered; /* Change the color directly */
    // width: 60px;
    // height: 60px;
    color: #fff;
    padding: 20px;
    line-height: 60px;
    border-radius: 50%;
}

.pageTitle {
    position: relative;
    color: #fff;
    font-size: 60px;
    margin: 48px 0 0 0;
}

.pageTitle::after {
    position: absolute; 
    content: '';
    bottom: -24px;
    left: 50%; 
    width: 100px;
    height: 10px;
    transform: translateX(-50%);
    background: #b41b1b;
}

.pageSubtitle {
    margin: 48px 0 0 0;
    font-size: 18px;
    color: #fff;
}