.intro {
    background: #fff;
    padding: 100px 0;

    p {
        width: 70%;
        margin: 0 auto; 
        padding: 48px 0;
        font-size: 24px; 
        border-top: 1px solid #3d3d3d; 
        border-bottom: 1px solid #3d3d3d;
    }
}

